html {
    background-color: #f7f7f7;
}

body {
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 0.5em;
}

a {
    text-decoration: dotted;
    font-weight: 500;
}

a:hover {
    background-color: aliceblue;
}

.topnav {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10000;
    padding: 0.125em 0;
    margin: 0 0 0.125em 0;
}

.index img.portrait {
    float: left;
    width: 30%;
    margin: 0 1em 1em 0;
}

footer {
    font-size: 60%;
}