html {
    background-color: #007;
}

body {
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 0.5em;
}

a {
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: dotted;
    background-color: aliceblue;
}

a:active,
a:visited {
    color: #007;
}

h2 {
    border-bottom: 1px solid #ccf;
}

main {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

.topnav {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10000;
    padding: 0.125em 0;
    margin: 0 0 0.125em 0;
    border-bottom: 1px solid #ccf;
}

.topnav {
    display: flex;
    flex-direction: row;
}

.topnav h1 {
    padding: 0;
    margin: auto 0.5em auto 0;
}

.topnav ul {
    padding-inline-start: 0;
    float: left;
}

.topnav li {
    float: left;
    margin-right: 1em;
}

.topnav li a {
    padding: 5px;
}

.index img.portrait {
    float: left;
    width: 30%;
    margin: 0 1em 1em 0;
}

.index h2.header-about {
    margin-block-start: 0;
}

.index .about {
    margin-left: 2em;
}

.index h2.header-skills {
    clear: none;
}

.index h3.experience {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-left: 2em;
}

.index h3.experience .company,
.resume article.experience .company {
    display: block;
    float: left;
    font-size: 1em;
    font-weight: bold;
    padding-right: 0.25em;
}

.index h3.experience .company::after,
.resume article.experience .company {
    content: ", ";
}

.index h3.experience .location,
.resume article.experience .location {
    display: block;
    float: left;
    font-size: 0.75em;
    font-weight: normal;
    font-style: italic;
    padding-right: 0.25em;
    padding-top: 0.25em;
}

.index h3.experience .location::after,
.resume article.experience .location {
    content: " —";
}

.index h3.experience .dates,
.resume article.experience .dates {
    display: block;
    float: left;
    font-size: 0.75em;
    font-weight: normal;
    padding-top: 0.25em;
}

.index h3.experience .role,
.resume article.experience .role {
    display: block;
    clear: both;
    font-size: 0.85em;
    font-weight: normal;
    font-style: italic;
}

.index ul.skills li {
    float: left;
    width: 23%;
    padding: 0.1em;
    font-size: 90%;
}

.resume h2,
.resume article {
    margin: 0 auto;
    width: min(700px, 100%);
    max-width: 700px;
    border-bottom: 1px solid #ccf;
}

.resume article.experience ul {
    list-style: disc;
}

.resume article.experience li {
    margin-bottom: 0.75em;
}

.resume article.experience ul ul {
    list-style: circle;
}

footer {
    font-size: 60%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .index .about {
        margin-left: 0;
    }
    .index ul.skills {
        padding-inline-start: 1em;
    }
    .index ul.skills li {
        width: 49%;
    }
    .index h3.experience {
        margin-left: 1em;
    }
    .index ul.interests {
        padding-inline-start: 1em;
    }
    .index ul.interests li {
        width: 49%;
        float: left;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .index h2 {
        margin-left: 1em;
        margin-right: 1em;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .index h2.header-skills {
        clear: none;
        margin-top: 6em;
    }    
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}